html{
  height:100%;
}

body{
  background-repeat: no-repeat;
  height: 100%;
  margin: 0;
  background-attachment: fixed;
  background: -webkit-linear-gradient(white, #e6f3ff); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(white, #e6f3ff); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(white, #e6f3ff); /* For Firefox 3.6 to 15 */
  background: linear-gradient(white, #e6f3ff); /* Standard syntax */
}

rect.btn {
  stroke:#fff;
  fill:#fff;
  fill-opacity:0;
  stroke-opacity:0;
  cursor: pointer;
}

.nameText:hover {
  fill: #339cff;
}

#dotNameInput {
  background:#e6f3ff;
  border: 1px solid #339cff;
}

#content {
  position:fixed;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

#topLine, #contentFrame {
  font-family: Monospace;
  position: relative;
  text-align: center;
  top: 10px;
  margin: 0 auto;
}

#svgFrame {
  position: relative;
  top: 10px;
  background:#e6f3ff;
  border: 1px solid #339cff;
}

.nameText:hover {
  animation: blinking 0.5s ease infinite;
}

@keyframes blinking {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
